<br>
<br>
<div class="row">
  <div class="flex-cont">
    <div class="flex-elem">
        <span class="card-title">Контактные данные</span>
        <p>{{request.name}}</p>
        <p>{{request.companyName}}</p>
        <p>{{request.phone}}</p>
        <p>{{request.email}}</p>
        <p>{{request.description}}</p>
        <div><img src='{{request.img}}' alt="Здесь должна быть картинка"></div>
        <p>{{request.adminComment}}</p>
        <p>{{request.status}}</p>
    </div>
  </div>
</div>
