
<script defer src='/js/request.js'></script>
<div class='searchBar'>
    <h1 class='zayavki'>Заявки</h1>
    <form method='post' action='/admin/requests' name='inputForm'>
      <input id="search-input" class='input' name="search" type="text" placeholder="Поиск">
      <button class='loop'>🔎</button>
    </form>
    <div id='ulReq'>
      <a href="/admin/requests?status=all"><button id='http://localhost:3000/admin/requests?status=all' class='barSearch'>Все заявки</button></a>
      <a href="/admin/requests?status=открыта"><button id='http://localhost:3000/admin/requests?status=открыта' class='barSearch'>Открыта</button></a>
      <a href="/admin/requests?status=в%работе"><button id='http://localhost:3000/admin/requests?status=в%работе' class='barSearch'>В работе</button></a>
      <a href="/admin/requests?status=отменена"><button id='http://localhost:3000/admin/requests?status=отменена' class='barSearch'>Отменена</button></a>
      <a href="/admin/requests?status=выполнена"><button id='http://localhost:3000/admin/requests?status=выполнена' class='barSearch'>Выполнена</button></a>
    </div>
</div>

<div class='requests' id='requestsTable'>
  <table class="highlight">
    <thead>
    <tr>
     <th>Дата</th>
     <th>Имя</th>
     <th>Компания</th>
     <th>Телефон</th>
     <th>Почта</th>
     <th>Проект</th>
     <th>Статус заявки</th>
     {{#if flag}}
     <th>Найдено по:</th>
     {{/if}}
    </tr>
    </thead>
    <tbody class='allRequests'>
      {{#each request}}
      <tr class='tr' id='{{this._id}}'> 
        <td class='td'>{{this.createdAt}}</td>
        <td class='td'>{{this.name}}</td>
        <td class='td'>{{this.companyName}}</td>
        <td class='td'>{{this.phone}}</td>
        <td class='td'>{{this.email}}</td>
        <td class='td'>{{this.description}}</td>
        <td class='td'>{{this.status}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

