<table class="highlight">
    <thead>
    <tr>
     <th>Дата</th>
     <th>Имя</th>
     <th>Компания</th>
     <th>Телефон</th>
     <th>Почта</th>
     <th>Проект</th>
     <th>Статус заявки</th>
     {{#if flag}}
     <th>Найдено по:</th>
     {{/if}}
    </tr>
    </thead>
    <tbody class='allRequests'>
      {{#each request}}
      <tr class='tr' id='{{this._id}}'> 
        <td class='td'>{{this.createdAt}}</td>
        <td class='td'>{{this.name}}</td>
        <td class='td'>{{this.companyName}}</td>
        <td class='td'>{{this.phone}}</td>
        <td class='td'>{{this.email}}</td>
        <td class='td'>{{this.description}}</td>
        <td class='td'>{{this.status}}</td>
      </tr>
      {{/each}}
      {{#each validArrNames}}
      <tr class='tr' id='{{this._id}}'> 
        <td class='td'>{{this.createdAt}}</td>
        <td class='td'>{{this.name}}</td>
        <td class='td'>{{this.companyName}}</td>
        <td class='td'>{{this.phone}}</td>
        <td class='td'>{{this.email}}</td>
        <td class='td'>{{this.description}}</td>
        <td class='td'>{{this.status}}</td>
        <td class='td'>имени</td>
      </tr>
      {{/each}}
      {{#each validArrCompany}}
      <tr class='tr' id='{{this._id}}'> 
        <td class='td'>{{this.createdAt}}</td>
        <td class='td'>{{this.name}}</td>
        <td class='td'>{{this.companyName}}</td>
        <td class='td'>{{this.phone}}</td>
        <td class='td'>{{this.email}}</td>
        <td class='td'>{{this.description}}</td>
        <td class='td'>{{this.status}}</td>
        <td class='td'>компании</td>
      </tr>
      {{/each}}
      {{#each validArrPhones}}
      <tr class='tr' id='{{this._id}}'> 
        <td class='td'>{{this.createdAt}}</td>
        <td class='td'>{{this.name}}</td>
        <td class='td'>{{this.companyName}}</td>
        <td class='td'>{{this.phone}}</td>
        <td class='td'>{{this.email}}</td>
        <td class='td'>{{this.description}}</td>
        <td class='td'>{{this.status}}</td>
        <td class='td'>телефону</td>
      </tr>
      {{/each}}
      {{#each validArrEmail}}
      <tr class='tr' id='{{this._id}}'> 
        <td class='td'>{{this.createdAt}}</td>
        <td class='td'>{{this.name}}</td>
        <td class='td'>{{this.companyName}}</td>
        <td class='td'>{{this.phone}}</td>
        <td class='td'>{{this.email}}</td>
        <td class='td'>{{this.description}}</td>
        <td class='td'>{{this.status}}</td>
        <td class='td'>почте</td>
      </tr>
      {{/each}}
      {{#each validArrDescr}}
      <tr class='tr' id='{{this._id}}'> 
        <td class='td'>{{this.createdAt}}</td>
        <td class='td'>{{this.name}}</td>
        <td class='td'>{{this.companyName}}</td>
        <td class='td'>{{this.phone}}</td>
        <td class='td'>{{this.email}}</td>
        <td class='td'>{{this.description}}</td>
        <td class='td'>{{this.status}}</td>
        <td class='td'>описанию заявки</td>
      </tr>
      {{/each}}
      {{#each validArrCom}}
      <tr class='tr' id='{{this._id}}'> 
        <td class='td'>{{this.createdAt}}</td>
        <td class='td'>{{this.name}}</td>
        <td class='td'>{{this.companyName}}</td>
        <td class='td'>{{this.phone}}</td>
        <td class='td'>{{this.email}}</td>
        <td class='td'>{{this.description}}</td>
        <td class='td'>{{this.status}}</td>
        <td class='td'>комментарию админа</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
